<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <title id="demo1">Practice</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css" />
    <!-- slick slider -->
    <link rel="stylesheet" href="/plugins/slick/slick.css" />
    <!-- themefy-icon -->
    <link rel="stylesheet" href="../plugins/themify-icons/themify-icons.css" />
    <link rel="icon" type="image/png" href="/images/logo-backup2.png" />

    <link href="/datatables/dataTables.min.css" rel="stylesheet" />

    <!--Favicon-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style2.css" />
    <style>
      .main-space2 {
        width: 100%;
        height: 90vh;
        background: url(../images/questions.svg);
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .big {
        font-size: 85px !important;
        background: white;
        color: black !important;
        font-family: poppins;
      }
      table {
        font-family: poppins;
        border-radius: 0.75mm;
        overflow: hidden;
        border: 0.5mm solid rgba(21, 22, 23, 0.196) !important;
      }
      .qlink {
        text-decoration: none;
        font-family: poppins;
        font-weight: 500;
        color: rgb(61, 61, 61);
        padding: 5px 10px;
        border-radius: 5mm;
      }
      .qlink:hover {
        text-decoration: none;
        background: rgba(0, 0, 0, 0.054);
      }
      .container {
        padding: 50px 0;
      }
      th {
        color: rgba(0, 0, 0, 0.623) !important;
        font-weight: 300 !important;
        font-size: 15px !important;
      }
      .icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        font-size: 19px;
      }
      .green {
        background: rgb(239, 255, 246);
        color: rgb(39, 135, 76);
      }
      .diff {
        padding: 4px 10px;
        border-radius: 5mm;
      }
    </style>
  </head>

  <body>
    <!-- page title -->
    <section class="main-space2">
      <%- include('../views/partials/header2') %>
      <div class="content">
        <div class="big"><%= title %></div>
      </div>
    </section>

    <section class="section">
      <div class="container table-responsive">
        <table id="questions" class="table" style="width: 100%">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Question Name</th>
              <th>Status</th>
              <th>Difficulty</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < data.length; i++ ){ %>
            <tr>
              <td><%= i+1 %></td>
              <td>
                <a
                  href="<%= clientUrl %>/practice/questions/<%= data[i].questionId%>"
                  target="_blank"
                  class="qlink"
                  ><%= data[i].questionName %></a
                >
              </td>
              <td>
                <% if(data[i].solved){ %>
                <span class="material-icons-outlined icon green">
                  task_alt
                </span>
                <% } else {%>
                <span class="material-icons-outlined icon red"> remove </span>
                <%}%>
              </td>
              <td>
                <span class="diff"><%= data[i].difficulty %></span>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </section>

    <!-- jQuery -->
    <script src="/plugins/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="/datatables/datatables.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="/plugins/slick/slick.min.js"></script>
    <!-- filter -->
    <script src="/plugins/shuffle/shuffle.min.js"></script>

    <!-- Main Script -->
    <script src="/js/script.js"></script>

    <script>
      $(document).ready(function () {
        $("#questions").DataTable();
      });

      let colors = document.querySelectorAll(".diff");
      colors.forEach((item) => {
        let val = item.innerHTML;
        val = val.toUpperCase();

        if (val == "HARD") {
          item.style.color = "rgb(255, 71, 71)";
          item.style.background = "rgb(255, 238, 238)";
        } else if (val == "MEDIUM") {
          item.style.color = "rgb(187, 107, 9)";
          item.style.background = "rgb(255, 250, 227)";
        } else {
          item.style.color = "rgb(25, 107, 25)";
          item.style.background = "rgb(227, 255, 227)";
        }
      });
    </script>
  </body>
</html>
