<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <!--Favicon-->
    <link
      rel="shortcut icon"
      href="../images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/style2.css" />
    <style></style>
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <style>
      .chapter-navigation {
        background: white !important;
      }
    </style>
  </head>
  <body style="background: rgb(245, 244, 246); margin: 0; padding: 0">
    <!-- page title -->
    <%- include('../views/partials/header2') %>
    <section class="no-area">
      <%= title %>
      <br />
    </section>
    <!-- /page title -->
    <section class="section prac-top-com">
      <% myArr.forEach(i=>{ %>
      <a
        href="<%= clientUrl %>/practice/<%= title %>/<%= i %>"
        class="practiceItem"
      >
        <div class="topic-top">
          <span class="material-icons-outlined icon"> all_inclusive </span>
        </div>
        <div class="topic-body"><%= i %></div>
        <div class="topic-bottom">
          <div class="tb-left">
            <span class="material-icons-round"> terminal </span><%= myMap[i] %>:
            Questions
          </div>
          <div class="tb-right">
            <span class="material-icons play">play_arrow</span>
          </div>
        </div>
      </a>
      <% }) %>
    </section>
    <script>
      let items = [
        "lightbulb",
        "code",
        "grade",
        "rocket_launch",
        "change_history",
        "waves",
        "auto_awesome",
        "wb_sunny",
        "sentiment_satisfied_alt",
        "sailing",
        "stadium",
        "play_arrow",
        "pause",
        "star_half",
        "bubble_chart",
        "data_object",
        "shape_line",
        "smart_toy",
        "mouse",
        "videogame_asset",
        "gamepad",
        "graphic_eq",
        "fitness_center",
        "light",
        "electric_bolt",
      ];
      let icons = document.querySelectorAll(".icon");
      icons.forEach((icon) => {
        icon.innerHTML = items[Math.floor(Math.random() * items.length)];
      });
    </script>
    <%- include('../views/partials/footer') %>
  </body>
</html>
