<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <title>Play House</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/png" href="../../images/logo-backup2.png" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />

    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="../css/style2.css" />
    <style>
      .ahead {
        color: rgb(26, 115, 232) !important;
      }
      .dura {
        background: rgb(100, 162, 255) !important;
      }
      .dura2 {
        border-color: rgb(100, 162, 255) !important;
      }
      .participate {
        background: rgb(146, 190, 255) !important;
      }
      .contest::before {
        background: rgb(227, 238, 254) !important;
      }
      .contest-doodle {
        background: rgb(99, 236, 152) !important;
      }
    </style>
  </head>

  <body>
    <!-- page title -->
    <section class="main-area">
      <%- include('../views/partials/header2') %>
      <div class="area-left">
        <img src="../images/code2.svg" alt="" />
      </div>
      <div class="area-right">
        <div class="the-area-wrap">
          <div class="area-titles">
            <div class="atitle ahead">Recode</div>
            <div class="atitle">Play House</div>
            <div class="atitle-small">Explore various contests.</div>
          </div>
          <div class="search">
            <input
              type="search"
              name=""
              id="search"
              placeholder="Search Contests"
              onkeyup="searchFunc()"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- /page title -->

    <!-- blog -->
    <section class="contests">
      <div class="contest-doodle"></div>
      <div class="contests-container">
        <div class="contests-title">Active Contests</div>
        <div class="row">
          <% for(let i = data.length-1; i >= 0; i--){ %> <% if
          (data[i].contestDate === new Date().toISOString().slice(0,10)) { %>
          <div class="contest">
            <a
              href="/qualifier_test/<%= data[i].contestId %>"
              target="_blank"
              class="cardy active"
            >
              <div class="act-tag">
                <span class="material-icons-round"> star </span>Active &nbsp
              </div>
              <div class="card-content">
                <div class="title"><%= data[i].contestName %></div>
                <div class="details">
                  <span class="dura">
                    <% if (data[i].contestDuration) { %> <%=
                    data[i].contestDuration + "M" %> <% } %>
                    <div class="det-abs">Duration</div>
                  </span>
                  <% if (data[i].contestStartTime && data[i].contestEndTime) {
                  %>
                  <span class="dura2"
                    ><%=
                    data[i].contestStartTime.slice(0,2)+":"+data[i].contestStartTime.slice(2,4)
                    %>
                    <div class="det-abs">Start</div>
                  </span>
                  <span class="dura2"
                    ><%=
                    data[i].contestEndTime.slice(0,2)+":"+data[i].contestEndTime.slice(2,4)
                    %>
                    <div class="det-abs">End</div>
                  </span>
                  <% } %>
                </div>
                <div class="con-date">
                  <% if (data[i].contestDate) { %>
                  <b>Date: </b><%= data[i].contestDate %> <% } %>
                </div>
                <div class="participate">Participate</div>
              </div>
            </a>
          </div>
          <% } %> <% } %>
        </div>
      </div>
      <div class="contests-container">
        <div class="contests-title">Inactive Contests</div>
        <div class="row">
          <% for(let i = data.length-1; i >= 0; i--){ %> <% if
          (data[i].contestDate !== new Date().toISOString().slice(0,10)) { %>
          <div class="contest">
            <a
              href="/qualifier_test/<%= data[i].contestId %>"
              target="_blank"
              class="cardy"
            >
              <div class="card-content">
                <div class="title"><%= data[i].contestName %></div>
                <div class="details">
                  <span class="dura">
                    <% if (data[i].contestDuration) { %> <%=
                    data[i].contestDuration + "M" %> <% } %>
                    <div class="det-abs">Duration</div>
                  </span>
                  <% if (data[i].contestStartTime && data[i].contestEndTime) {
                  %>
                  <span class="dura2"
                    ><%=
                    data[i].contestStartTime.slice(0,2)+":"+data[i].contestStartTime.slice(2,4)
                    %>
                    <div class="det-abs">Start</div>
                  </span>
                  <span class="dura2"
                    ><%=
                    data[i].contestEndTime.slice(0,2)+":"+data[i].contestEndTime.slice(2,4)
                    %>
                    <div class="det-abs">End</div>
                  </span>
                  <% } %>
                </div>
                <div class="con-date">
                  <% if (data[i].contestDate) { %>
                  <b>Date: </b><%= data[i].contestDate %> <% } %>
                </div>
                <div class="participate">Participate</div>
              </div>
            </a>
          </div>
          <% } %> <% } %>
        </div>
      </div>
    </section>

    <script>
      const searchFunc = () => {
        let value = document.getElementById("search").value;
        value = value.toUpperCase();
        let cards = document.querySelectorAll(".contest");
        cards.forEach((card) => {
          let cardVal = card.querySelector(".title").innerText;
          cardVal = cardVal.toUpperCase();
          if (cardVal.indexOf(value) >= 0) {
            card.style.display = "block";
          } else {
            card.style.display = "none";
          }
        });
      };
    </script>
    <%- include('../views/partials/footer') %>
  </body>
</html>
