<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin menu</title>
    <meta
      name="description"
      content="A sidebar menu as seen on the Google Nexus 7 website"
    />
    <meta
      name="keywords"
      content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu"
    />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico" />
    <link rel="stylesheet" href="../../css/navadmin.css" />
    <link rel="icon" type="image/png" href="../../images/logo-backup2.png" />
    <script src="/adminjs/modernizr.custom.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include('../views/partials/adminpanel') %>
      <header>
        <h1>
          Manage Qualifier Test<span style="color: black"
            >Add Qualifier Test</span
          >
        </h1>
      </header>
      <div class="main-block">
        <form
          action="<%= data.serverurl %>/contests"
          enctype="multipart/form-data"
          onsubmit="return handleSubmit()"
          method="POST"
        >
          <span class="allInputs">
            <span class="inputf">
              <p class="comments">Exam ID</p>
              <input
                class="small"
                name="contestId"
                rows="5"
                required
                placeholder="ID"
              />
            </span>
            <span class="inputf">
              <p class="comments">Exam Name</p>
              <input
                class="small"
                name="contestName"
                rows="5"
                required
                placeholder="Name"
              />
            </span>
          </span>
          <span class="allInputs">
            <span class="inputf">
              <p class="comments">Exam Date</p>
              <input class="vsmall" name="contestDate" type="date" required />
            </span>
            <span class="inputf">
              <p class="comments">Exam Duration</p>
              <input
                class="vsmall"
                placeholder="in minutes"
                name="contestDuration"
                rows="5"
                required
              />
            </span>
            <span class="inputf">
              <p class="comments">Exam Start Time</p>
              <input
                class="vsmall"
                placeholder="24 Hours HHMM format"
                name="contestStartTime"
                rows="5"
                required
              />
            </span>
            <span class="inputf">
              <p class="comments">Exam End Time</p>
              <input
                class="vsmall"
                placeholder="24 Hours HHMM format"
                name="contestEndTime"
                rows="5"
                required
              />
            </span>
          </span>
          <span class="allInputs">
            <span class="inputf">
              <p class="comments">Exam Sections</p>
              <input
                class="big"
                required
                name="contestSections"
                rows="5"
                placeholder="Enter Section Names Separated By Comma -

Eg : Numeral, Reasoning, Verbal, Programming"
                required
              />
            </span>
          </span>
          <span class="inputf">
            <label for="coding">Coding Required?</label>
            <input
              type="checkbox"
              name="coding"
              id="coding"
              style="width: fit-content; margin: 20px 0"
            />
          </span>
          <input type="hidden" name="mcq" value="true" id="mcq" />
          <br />
          <hr />
          <textarea
            type="hidden"
            name="token"
            id="token"
            value="<%= token %>"
            style="display: none"
          ></textarea>
          <div class="btn-block">
            <button class="submit" type="submit" href="/">Send</button>
          </div>
        </form>
        <script>
          function handleSubmit() {
            var coding = document.getElementById("coding");
            if (coding.value == "on") {
              coding.value = true;
            } else {
              coding.value = false;
            }
            return true;
          }
        </script>
      </div>
    </div>
    <!-- /container -->
    <script src="/adminjs/classie.js"></script>
    <script src="/adminjs/gnmenu.js"></script>
    <script src="plugins/jQuery/jquery.min.js"></script>
    <script>
      new gnMenu(document.getElementById("gn-menu"));
    </script>
    <script>
      document.getElementById("token").value = "<%= token %>";
    </script>
    <%- include('../views/partials/footer') %>
  </body>
</html>
