<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <title>Tutorials</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <!-- themefy-icon -->
    <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css" />
    <link rel="icon" type="image/png" href="../../images/logo-backup2.png" />

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style2.css" />
    <style>
      .ahead {
        color: rgb(249, 171, 0) !important;
      }
    </style>
  </head>

  <body>
    <section class="main-area">
      <%- include('../views/partials/header2') %>
      <div class="area-left">
        <img
          src="../images/practice_page.svg"
          alt=""
          style="transform: scale(1.05)"
        />
      </div>
      <div class="area-right">
        <div class="the-area-wrap">
          <div class="area-titles">
            <div class="atitle ahead">Recode</div>
            <div class="atitle">Practice</div>
            <div class="atitle-small">
              Practice problems topicwise <br />
              and companies wise
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="slider">
      <section class="links">
        <a
          href="#slide-1"
          onclick="borderBottom(this)"
          class="pralink-link active"
          ><span class="material-icons-round"> interests </span>Topics</a
        >
        <a href="#slide-2" onclick="borderBottom(this)" class="pralink-link"
          ><span class="material-icons-round"> workspaces </span>Companies</a
        >
        <a href="#slide-3" onclick="borderBottom(this)" class="pralink-link"
          ><span class="material-icons-round"> all_inclusive </span>All
          Questions</a
        >
      </section>

      <div class="slides">
        <div id="slide-1">
          <a
            href="<%= data.clientRoute %>/practice/Topics"
            class="practice_link"
          >
            <div class="prac-left">
              <img src="../images/practiceTopics.svg" alt="" />
            </div>
            <div class="prac-right">
              <div class="prac-title">Topics</div>
              <div class="prac-body">View questions topic wise</div>
              <div class="prac-button">
                Topics <span class="material-icons-round"> east </span>
              </div>
            </div>
          </a>
        </div>
        <div id="slide-2">
          <a
            href="<%= data.clientRoute %>/practice/Companies"
            class="practice_link"
          >
            <div class="prac-left">
              <img src="../images/practiceCompany.svg" alt="" />
            </div>
            <div class="prac-right">
              <div class="prac-title">Companies</div>
              <div class="prac-body">View questions company wise</div>
              <div class="prac-button" style="background: rgb(227, 230, 228)">
                Companies <span class="material-icons-round"> east </span>
              </div>
            </div>
          </a>
        </div>
        <div id="slide-3">
          <a
            href="<%= data.clientRoute %>/practice/AllQuestions"
            class="practice_link"
          >
            <div class="prac-left">
              <img src="../images/practiceAll.svg" alt="" />
            </div>
            <div class="prac-right">
              <div class="prac-title">All Questions</div>
              <div class="prac-body">View all questions</div>
              <div class="prac-button" style="background: rgb(196, 234, 207)">
                Questions <span class="material-icons-round"> east </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <script>
      function borderBottom(slide) {
        let each = document.querySelectorAll(".pralink-link");
        each.forEach((item) => {
          item.className = "pralink-link";
        });
        slide.className = "pralink-link active";
      }
    </script>
    <%- include('../views/partials/footer') %>
  </body>
</html>
